<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/debug.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
</configuration>
